html {
    font-family: sans-serif;
    height: 100%;
    body {
        height: 100%;
        margin: 0;
        #app {
            height: 100%;
            .main-app-root {
                height: 100%;
                display: flex;
                flex-direction: column;
                .title-section {
                    flex: 0 0 50px;
                    background: #1D1C1E;
                    border-bottom: 1px solid #0b2536;
                    display: flex;
                }
                .main-body-section {
                    display: flex;
                    flex: 1 1 auto;
                    overflow: auto;
                }
                .footer-section {
                    color: #185780;
                    flex: 0 0 45px;
                    background: #1D1C1E;
                }
            }
        }
    }
}