.right-menu-panel {
    background-color: #185780;
    border-right: 1px solid #0b2536;
    width: 13%;
    padding: 2em;
    .right-menu-panel-menu-option {
        margin: 0.5em;
        cursor: pointer;
        font-weight: bolder;
    }
    .selected-menu-option {
        text-decoration-line: underline;
        color: gainsboro;
        cursor: default;
    }
}

.collapsed {
    display: none;
}